<div *ngIf="loaded" class="heroes-list">
    <h2>List of heroes</h2>
  <ul class="heroes-list-list">
    <li *ngFor="let hero of heroes" class="hero-detail">
      <h2 class="hero-name">{{ hero.localized_name }}</h2>
      <div><label>Attack Type</label> {{ hero.attack_type }}</div>
      <div><label>Number of legs</label> {{ hero.legs }}</div>
      <div><label>Primary attribute</label> {{ hero.primary_attr }}</div>
      <div><label>Roles</label> <span class="role" *ngFor="let role of hero.roles">{{ role }}</span></div>
    </li>
  </ul>
</div>